.box{
	margin:20px;
}

.result_box{
	background-color: whitesmoke;
}

.char_box{
	width:80%;
}

.char_box:hover{
	background:gray;
	cursor:pointer;
}

.Adventure_btn{
	width:100%;
}

.info_box{
}

.Adventure_btn{
}

.server_box{
	font-size:12px;
}